.footer__author {
    color: white;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: 0;
    padding-top: 18px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }