.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  padding: 0;
}

.logo {
  width: 228px;
  height: 32px;
}

/* Елемент 1 Логотип заголовка */
.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo_place_footer {
  display: flex;
}

/* Елемент 2 Заголовок заголовка */
.header__title {
  display: flex;
  z-index: 1;
  align-self: center;
  width: 730px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  /* Странное значение, что оно есть, что нет. Изменений никаких. Почему?
 */
}

/* Элемент 3 Подзаголовок заголовка */
.header__subtitle {
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
}

/* Картинка с мальчиком в заголовке */
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: right bottom;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.two-columns__bref {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.table {
  width: 1100px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 2;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -250px;
  min-width: 877px;
  min-height: 877px;
  background-size: cover;
}

.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  display: flex;
  z-index: 1;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  display: flex;
  z-index: 2;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__illustration {
  position: absolute;
  min-width: 867px;
  min-height: 637px;
  left: 0;
  bottom: 0;
  object-fit: cover;
  object-position: right bottom;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
}

.footer__author {
  color: white;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: 0;
  padding-top: 18px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.footer__column-links:last-child {
  margin-bottom: 16px;
}

.footer__social-icon {
  min-height: 16px;
  min-width: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  min-height: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.footer__column-link:last-child {
  margin: 0 0 16px;
}
