.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}